<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <na>
        <ul>
            {% if user.is_autheticated %}
            {% else %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create an Accoun</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create a Category</a>
            </li>
            <li>
                <a href="{% url 'category_list' %}">Create a Category List</a>
            </li>
        </ul>
        {% endif %}
    </na>

</header>
    <main>
        <div>
          <h1>Create Account</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
        </div>
      </main>


</body>
</html>
