<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
      {% if user.is_authnticated %}
      {% else %}
      <a href="{% url 'create_account' %}">Create an Accoun</a>
      <a href="{% url 'create_category' %}">Create a Category</a>
      <a href="{% url 'category_list' %}">Create a Category List</a>
      <a href="{% url 'create_receipt' %}">Create a Receipt</a>
      {% endif %}
    </nav>
  </header>
    <main>
        <h1>My Accounts</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>


</body>
</html>
