<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <na>
            <ul>
                {% if user.is_autheticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an Accoun</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a Category</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Create a Category List</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a Receipt</a>
                </li>
            </ul>
            {% endif %}
        </na>

    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                <tr>
                    <td>{{ item.vendor}}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.date|date:"n/j/y" }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.account.name }}</td>
                {% endfor %}

                </tr>
            </tbody>
        </table>

    </main>

</body>
</html>
